<div class="main users-edit">
  <div class="container">
    <div class="form-heading">アカウント編集</div>
    <div class="form users-form">
      <div class="form-body">
        <%= form_for(@user) do |f| %>
        <%= f.label :name,"ユーザー名を変更する" %>
        <%= f.text_field :name %>
        <%= f.label :password,"パスワードを変更する" %>
        <%= f.password_field :password %>
        <%= f.submit "変更を保存する", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>