<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <p>
        <%= @post.user.name %>　さん
      </p>
      <p>
        <%= @post.content %>
      </p>
      <div class="post-time">
        <%= "投稿日時: #{@post.created_at.to_s(:datetime_jp)}" %>
      </div>
       <% if @current_user == nil%>
       <% elsif @post.user_id == @current_user.id %>
        <%= link_to "編集", edit_post_path(@post) %>
        <%= link_to "削除", post_path(@post), method: :delete %>
       <% end %>
      </div>
     <% if @current_user == nil %>
      <p class = "comment-show">コメントするにはログインしてください</p>
    <% else %>
      <p class = "comment-show">コメントする(300字以内)</p>
        <%= form_for [@post, @comment] do |f| %>
  　　      <div class="field">
    　　      <%= f.text_area :content, placeholder: "ここにコメントしてください" %>
  　　      </div>
  　     <%= f.submit "コメントする", class: "btn btn-primary" %>
　　  <% end %>
　　<% end %>
   <div class="posts-show-item">
    <li>コメント一覧</li>
    　<% @comments.each do |comment|%>
    　 <% if @post.user.name == comment.user.name %>
    　   <h3 class="text-danger"><%= comment.user.name %> さん</h3>
    　 <% else %>
    　   <h4><%= comment.user.name %> さん</h4>
    　 <% end %>
    　 <%= comment.content %>
    　  <div class="post-time">
        <%= "投稿日時: #{comment.created_at.to_s(:datetime_jp)}" %>
      </div>
    <% end %>
    　</div>
   </div>
</div>